.header-web{
    .container{
        .header-content{
            .col-lg-7 {
                .position-relative {
                    height: 500px;
                }
            }
            .col-lg-5 {
                .position-relative {
                    height: 250px;
                }
            }
            .col-lg-6 {
                .position-relative {
                    height: 250px;
                }
            }
            img{
                object-fit: cover;
            }
            .slick-dots {
                button{
                    width: 40px;
                    background: #FFCC00;
                    margin: 0 5px;
                    height: 20px;
                    transition: .5s;
                }
            }
            .ant-carousel{
                height: 100%;
                .slick-list{
                    height: 100%;
                    .slick-track{
                        height: 100%;
                        div{
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
.input-group .ml-auto .d-none .d-lg-flex{
    width: 100%; 
    max-width: 300px;
}
